rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

      match /games/{gameId} {
        allow read: if request.auth != null; // Anyone authenticated can read games
        
        allow create: if request.auth != null && request.resource.data.ownerUID == request.auth.uid; // Allow create if ownerUID matches their uid
        
        allow update: if request.auth != null; // Anyone auth can update

        allow delete: if request.auth != null && resource.data.ownerUID == request.auth.uid; // Only owner can delete
      }
      
      match /games/{gameId}/members/{playerUID} {
        allow read, create, update, delete: if request.auth != null; // Full access

      }

   }
}
